.landing-page {
  text-align: center;
  margin-top: 2rem;
}

.landing-buttons {
  margin-top: 1.5rem;
}

.landing-image-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.landing-image {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: -10px 10px 7px rgba(0, 0, 0, 0.1);
}
