.movie-card {
  width: 200px;
  margin: 1rem;
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  background-color: #fff;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-card-image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.movie-card-title {
  margin-top: 0.5rem 0;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.movie-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-card-overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
  gap: 0.3rem;
}

.movie-card-overlay p {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
}

.trailer {
  color: #1e90ff;
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.9rem;
}

.trailer:hover {
  color: #63a4ff;
}

.btn-add-watchlist,
.btn-delete-watchlist,
.btn-close-overlay {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.3rem;
  color: #fff;
}

.btn-add-watchlist {
  background-color: #28a745;
}

.btn-add-watchlist:hover {
  background-color: #218838;
}

.btn-delete-watchlist {
  background-color: #dc3545;
}

.btn-delete-watchlist:hover {
  background-color: #c82333;
}

.btn-close-overlay {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  padding: 0.3rem;
  background-color: #dc3545;
}

.btn-close-overlay:hover {
  background-color: #c82333;
}

@media (max-width: 600px) {
  .movie-card-overlay-content {
    padding: 0.7rem;
    gap: 0rem;
  }

  .trailer {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
  }

  .btn-add-watchlist,
  .btn-delete-watchlist,
  .btn-close-overlay {
    padding: 0.4rem 0.8rem;
  }
}
