.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-logo a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-logo a:hover {
  color: #007bff;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-right: 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem 0;
  }

  .navbar-links a:hover {
    text-decoration: underline;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    text-align: center;
    margin: 0.5rem 0;
  }
}
